<div class="container">
    <h3 mat-dialog-title>Delete Student?</h3>
    <div mat-dialog-content>
        <p><b>Id:</b> {{data.id}}</p>
        <p><b>First Name:</b> {{data.firstName}}</p>
        <p><b>Last Name:</b> {{data.lastName}}</p>
        <p><b>Year:</b> {{data.year}}</p>
        <p><b>Faculty:</b> {{data.facultyName}}</p>
    </div>

    <div mat-dialog-actions>
        <button mat-button color="primary" (click)="confirmDelete()">Delete</button>
        <button mat-button (click)="onCancelClick()">Cancel</button>
    </div>
</div>